/*dark mode styles*/ 
.myDarkModeToggle {
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    display: flex;
}

#myDarkModeButton {
    background: #f64900;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    padding: 8px 16px;
}

/* via: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.styles_container__4Ydg1 {
    border: 1px solid #e8e8e8;
    margin: 10px 0 0 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    color: #667190;
    font-size: 14px;
    line-height: 21px;
}

.my_style_bold {
    font-weight: 600;
    padding-bottom: 5px;
}

.my_style_border {
    border: 1px solid #c0c0c0;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.styles_rowblock__4Ydg1 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 10px;
}

.styles_columnblock__4Ydg1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.styles_rowinlineblock__4Ydg1 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.styles_loadingblock__4Ydg1 {
    display: flex;
    justify-content: center;
    align-items: center;
}