/* via: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.styles_container__4Ydg1 {
    border: 1px solid #e8e8e8;
    margin: 10px 0 0 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.styles_rowblock__4Ydg1 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 20px;
}

.styles_columnblock__4Ydg1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;    
}

.styles_rowinlineblock__4Ydg1 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.styles_loadingblock__4Ydg1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*PromotedProducts*/
.styles_link__3mxUn {
    background-color: #f8f8f8;
    border-width: 0 0 0 5px;
    border-color: #f64900;
    border-style: solid;
}

/*Socials*/
.styles_container__14gv3 {
    padding: 0;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .styles_container__14gv3 {
        padding: 10px;
        margin-top: 5px;
    }
}
.styles_icon__3ITVt {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}
@media (max-width: 768px) {
    .styles_icon__3ITVt {
        margin-right: 20px;
        width: 24px;
        height: 24px;
    }
}
.styles_icon__3ITVt path {
    fill: #6f6f6f;
    opacity: 0.8;
}
.styles_icon__3ITVt:hover path {
    fill: #30303f;
}

/*DarkMode*/
#myDarkModeToggle {
    border-color: #f64900;
    background-color: #f64900;
    padding: 7px 10px 7px 7px;
    border-radius: 4px;
    color: #e8e8e8;
    transition: all .3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

#myDarkModeToggle:active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f64900;
}