/*
via: https://www.color-hex.com/color/21293c
font color: #f5f8ff
*/
.myDarkMode {
  background-color: #10141e;
}

/*header*/
.myDarkMode .style_bg-white__XxyB1,
.myDarkMode .bg-white {
  background-color: #1d2436;
  border-bottom: 1px solid #21293c;
}

.myDarkMode button.style_bg-white__XxyB1 {
  background-color: #1d2436;
  border-bottom: 1px solid #21293c;
}
.myDarkMode .styles_buttonV6__Mscbe:hover,
.myDarkMode .styles_selected__Iu2WH {
  background: #f5f8ff;
  border: 1px solid #21293c;
}

/*different bg block*/
.myDarkMode .style_bg-cloud__Ls5zt,
.myDarkMode .bg-cloud {
  color: #d2d4d8;
  background-color: #21293c;
}

/*link*/
.myDarkMode .style_color-light-grey__mkoQQ,
.myDarkMode .color-light-grey, 
.myDarkMode .color-lighter-grey {
  color: #bcbec4;
}

/*link hover*/
.myDarkMode .styles_submenuHover__uoP8Q:hover>* {
  color: #f5f8ff;
}

/*font color*/
.myDarkMode .style_color-dark-grey__aN5DV,
.myDarkMode .style_color-darker-grey__qBl48,
.myDarkMode .color-darker-grey {
  color: #797e8a;
}

/*home: product item*/
.myDarkMode .styles_item__Sn_12 {
  background-color: #10141e;
  background-image: none;
  -webkit-transition: none;
  transition: none;
}

@media(min-width: 760px) {
  @media(hover: hover) {
    .myDarkMode .styles_item__Sn_12:hover {
      background-color: #10141e;
    }
  }
}

/*product item padding*/
.myDarkMode .style_pb-mobile-7__OX0Sz,
.myDarkMode .style_pb-desktop-6__EZ3zm,
.myDarkMode .style_pb-tablet-6__F61Qx,
.myDarkMode .style_pb-widescreen-6__UB2pW {
  border-bottom: 1px solid #21293c;
}

/*product item button - comment*/
.myDarkMode .styles_button__Pe4nq {
  color: #f5f8ff;
  background: #10141e;
  transition: none;
  padding: 1px 5px;
}

/*product item button - feed*/
.myDarkMode .styles_feed__JnsOv {
  color: #f5f8ff;
  background: #1d2436;
  border: 1px solid #21293c;
}

.myDarkMode .styles_feed__JnsOv:not(:disabled):focus,
.myDarkMode .styles_feed__JnsOv:not(:disabled):hover {
  border-color: #373e4f;
}

/*product item - discussion*/
.myDarkMode .styles_container__lJgHe,
.myDarkMode .styles_container__7mv8X {
  border-top: 1px solid #373e4f;
  border-bottom: 1px solid #373e4f;
}

/*discussion - replies*/ 
.myDarkMode .styles_replyBorder__hy6Op,
.myDarkMode .styles_replyContainer__JuPAz {
  border-left: 3px solid #21293c;
}

.myDarkMode .styles_black__Z9fG_, 
.myDarkMode a.styles_black__Z9fG_,
.myDarkMode .styles_grey__YlBrh,
.myDarkMode a.styles_grey__YlBrh {
  color: #f5f8ff;
}

/*home - top featured dropdown*/
.myDarkMode .styles_selected__HasMu {
  border: none;
}

/*sidebar button - comment*/
.myDarkMode .styles_small__hCBNW {
  color: #f5f8ff;
  background: #10141e;
  transition: none;
  border: 1px solid #373e4f;
}

/*topics: product item - promoted*/
.myDarkMode .styles_item__xCzBI {
  background-color: #10141e;
  background-image: none;
  -webkit-transition: none;
  transition: none;
}

@media(min-width: 760px) {
  @media(hover: hover) {
    .myDarkMode .styles_item__xCzBI:hover {
      background-color: #10141e;
    }
  }
}

.myDarkMode div[data-test*="ad-slot-"],
/*home: collection - discussion etc. block*/
.myDarkMode .styles_container__JOJsN,
.myDarkMode .styles_container__oOuC0 {
  border-top: 2px solid #21293c;
  border-bottom: 2px solid #21293c;
}

.myDarkMode .styles_square__6ydb_ {
  transform: none;
}

/*product page: launch discussion */
.myDarkMode .styles_lockedDiscussion__iCceK:after,
.myDarkMode .styles_lockedDiscussion__iCceK:before,
.myDarkMode .styles_actionBar__nsPfS {
  border-bottom: 1px solid #21293c;
}

/*hr line*/
.myDarkMode .style_bg-light-sky__Jv_F2,
.myDarkMode .bg-light-sky {
  background-color: #171c2a;
}
.myDarkMode .styles_separator__Qydx_,
.myDarkMode .styles_separator__4z7Kj {
  border-bottom: 1px solid #21293c;
}
.myDarkMode .sidebarWithSeparator.right {
  border-left: 1px solid #21293c;
}
.myDarkMode .sidebarWithSeparator.left {
  border-right: 1px solid #21293c;
}

/*extension container*/
.myDarkMode .styles_container__4Ydg1 {
  border: 1px solid #373e4f;
  background-color: #21293c;
}

/*header bg - discussion*/
.myDarkMode .styles_heroBgDesktop__p6obS {
  background-color: #1a2030;
}

/*header bg - stories*/
.myDarkMode .styles_backgroundContainer__GAzn7 {
  background: #10141e;
  border-bottom: 1px solid #21293c;
}

/*header bg - ships*/
.myDarkMode .styles_header__wCKQv {
  background: #10141e;
  border-bottom: 1px solid #21293c;
}
.myDarkMode .styles_wrapper__OsYu0 {
  background: #10141e;
  color: #f5f8ff;
  border-color: transparent;
  border-bottom: 1px solid #21293c;
}
.myDarkMode .styles_feature__zvZoy {
  background: #21293c;
  color: #f5f8ff;
  border-color: transparent;
}
.myDarkMode .styles_title__wVXjc,
.myDarkMode .styles_title__dtS_Y {
  color: #f5f8ff;
}
.myDarkMode .styles_footer__Pf1Qk {
  border-top: 1px solid #21293c;
}
.myDarkMode .styles_allStar__08mWU,
.myDarkMode .styles_brandTitle__3MSx8 {
  color: #f5f8ff;
}

/*founder-club - button*/
.myDarkMode .styles_inviteButton__lHwMa {
  color: #f5f8ff;
}

/*header bg - launch*/
.myDarkMode .styles_backgroundContainer__GAzn7.styles_reverse__T9FCk {
  background: #10141e;
}

/*job item - jobs*/
.myDarkMode .styles_jobItem__b3fVk:hover {
  background: transparent;
}

.myDarkMode .styles_sidebar__VOoPX {
  border-left: 1px solid #21293c;
}

.myDarkMode .styles_jobDigestSubscribeWrap__59WTl,
.myDarkMode .styles_jobFiltersWrap__0oftb {
  border-bottom: 1px solid #21293c;
}

@media (hover: hover) and (pointer: fine) {
  .myDarkMode .styles_jobItem__b3fVk:hover {
    background: transparent;
  }
}

/*page - about*/
.myDarkMode .styles_container__RNaRb {
  border-color: transparent;
}

/*page - apps*/
.myDarkMode .styles_imageContainer__KXJX_ {
  border-bottom: 1px solid #21293c;
}

.myDarkMode .styles_separator__I3AjB {
  border-top: 1px solid #21293c;
}

.myDarkMode .styles_verticalSeparator__Vu2oC {
  background-color: #21293c;
}

/*page - advertisement*/
.myDarkMode .styles_ctaSection__MJptu {
  border-top: 1px solid #21293c;
}

/*popup - product item*/
.myDarkMode .styles_contentBackground__Nnfy4.styles_dreamBackground__x1_uT {
  background: #10141e;
}

.myDarkMode .styles_threadLine__Dfu50,
.myDarkMode .styles_replyContainer__ND0t1 {
  border-left: 4px solid #21293c;
  border-image: none;
}

.myDarkMode .styles_line__6Gr1Y,
.myDarkMode .styles_line__z39eN {
  background-color: #21293c;
  border: 1px solid #373e4f;
}

.myDarkMode .styles_container__0dgmN {
  border-color: #21293c;
}

/*page - product item*/
.myDarkMode .styles_latestLaunches__u5lpC .styles_launchItem__rvqh6 {
  border:1px solid #21293c;
  border-top: 0;
  border-right: 0;
}

.myDarkMode .styles_container__2gAiD,
.myDarkMode .styles_activityFeed__n25pq li {
  border-bottom: 1px solid #21293c;
}

.myDarkMode .styles_topicButtonList__hAW_f,
.myDarkMode .styles_topicButtonListItem__9elZC {
  border: 1px solid #21293c;
}

.myDarkMode .styles_container__uJcC2 {
  border: 1px solid #21293c;
  background-color: #21293c;
}

/*show more line and button*/
.myDarkMode .styles_line__5vG1f {
  background: #21293c;
}

.myDarkMode .color-blue {
  color: #f5f8ff;
}

.myDarkMode button div.color-blue,
.myDarkMode a div.color-blue {
  color: #21293c;
}

/*page - search*/
.myDarkMode .styles_hoverGradient__8U229,
.myDarkMode .styles_hoverGradient__bnlM3 {
  background-image: none;
  transition: none;
}

.myDarkMode .styles_periodsBanner__FY106 {
  background-color: #21293c;
}

.myDarkMode .styles_hoverGradient__8U229:hover,
.myDarkMode .styles_hoverGradient__bnlM3:hover {
  background-color: transparent;
}

.myDarkMode .styles_link__BDJXj {
  background-color: transparent;
  border: 1px solid #21293c;
}

.myDarkMode .styles_pillLink__URmD_ {
  border: 1px solid #21293c;
}

.myDarkMode .styles_sidebar___xsnn {
  border-right: 1px solid #21293c;
}

.myDarkMode .styles_sidebar___wHdS {
  border-left: 1px solid #21293c;
}

/*page - user*/
.myDarkMode .styles_verticalSeparator__KaPbk {
  background: #21293c;
}

.myDarkMode .styles_makerHistoryItem__GpWuH,
.myDarkMode .styles_commentItem__jFX58,
.myDarkMode .styles_reviewItem__GPrI4 {
  border-bottom: 1px solid #21293c;
}

/*user - collections*/
.myDarkMode .styles_card__ICbeq {
  color: #d2d4d8;
  background-color: #21293c;
  background-image: none;
  border: 1px solid #373e4f;
} 

@media (hover: hover) {
  .myDarkMode .styles_card__ICbeq:hover {
    background-color: transparent;
  }
}

/*popup - login screen*/
.myDarkMode .styles_contentBackground__Nnfy4 {
  background: #373e4f;
}

.myDarkMode .styles_login__0AT_I {
  background-color: #21293c;
}

/*popup - search box*/
.myDarkMode .styles_controlledItem__bQQBY {
  background-color: #21293c;
  border-top: 1px solid #373e4f;
}

.myDarkMode .styles_controlledItem__bQQBY:focus,
.myDarkMode .styles_controlledItem__bQQBY:hover {
  background-color: #373e4f;
  border-top: 1px solid #10141e;
}

/*homepage: app use block*/
.myDarkMode .styles_container__AubLC {
  background: #21293c;
}

/*page: app use*/
.myDarkMode .styles_container__aD8EN,
/*page: hall of fame*/
.myDarkMode .styles_baseItem__Pg4i4,
/*page: welcome*/
.myDarkMode .styles_whiteBox__qzbqk,
.myDarkMode .styles_card__xF0YN {
  background-color: #21293c;
  border: 1px solid #373e4f;
}

.myDarkMode .styles_container__h9UlK,
.myDarkMode .styles_container__qhCYd,
.myDarkMode .styles_positiveTagItem__tC0VD,
/*page: marketplace*/
.myDarkMode .styles_pill__4Cvlk,
.myDarkMode .styles_pill__4Cvlk.styles_white__DSEIH {
  border: 1px solid #373e4f;
}

.myDarkMode .styles_borderTop__6njUK {
  border-top: 1px solid #373e4f;
}

.myDarkMode .styles_thumbnail__0Qrza {
  background: #21293c;
}

/* secondary button */
.myDarkMode .styles_secondary__aa4sx {
  border: 1px solid rgb(192, 192, 192);
  background:rgb(248, 248, 248);
  color: #10141e;
}

/* popover */
.myDarkMode .styles_popover__PmSyH .color-light-grey,
.myDarkMode .styles_popover__PmSyH .color-lighter-grey {
  color: #10141e;
}

/* top menu */
.myDarkMode .styles_sideMenu__rdw4E {
  border-left: 1px solid #373e4f;
}

.myDarkMode .styles_feeds__eeAft {
  border-right: 2px solid #373e4f;
}

/*discussion*/
.myDarkMode .styles_sidebarBox__5hHWf,
.myDarkMode .styles_item__gBlUG,
.myDarkMode .styles_container__xUimP {
  border: 1px solid #373e4f;
  background: #21293c;
}

.myDarkMode .styles_hubLink__CRhE5 {
  border-bottom: 1px solid #373e4f;
}

/*homepage - tour container*/
.myDarkMode .styles_container__0sZXQ {
  background: #21293c;
}